<style>
       

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box; /* Ajustement de la largeur pour inclure le padding */
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #dd0000; /* Couleur de fond verte */
        color: white; /* Texte blanc */
        transition: background-color 0.3s; /* Transition pour un effet de survol */
    }

    button:hover {
        background-color: #b41a1a; /* Couleur de fond verte plus foncée au survol */
    }
</style>
</head>
<body>

{% extends 'layout.html' %}

{% block title %}Prisonner information{% endblock %}

{% block content %}
{% if prisonner %}
<h1>Informations sur le prisonnier</h1>
<img src="{{ url_for('static', filename='uploads/' + prisonner.image + '.jpg') }}" width="200" height="200" style="vertical-align: bottom;">



{% if 'managedPrisonId' in request.cookies %}


{% if prisonner.prison_id|int == request.cookies['managedPrisonId']|int or request.cookies['IsSuperUserAd']|int == 1  %}




<form action="/changePrisonnerInformation/changeIt" method="POST" style="max-width: 400px; margin: left auto;">
    <input hidden type="text" name="prisonner_id" value="{{ id_prisonnier }}" readonly>
    <strong>Prénom</strong>
    <input type="text" id="prenom" name="prenom" value="{{ prisonner.Prenom }}">
    <strong>Nom</strong>
    <input type="text" id="nom" name="nom" value="{{ prisonner.Nom }}">
    <strong>Birthday</strong>
    <input type="date" id="birthday" name="birthday" placeholder="" value="0001-01-01">
    
    <button type="submit" value="Modifier les informations du prisonnier">Changer les informations</button>



</form>
{% endif %}
{% endif %}
{% endif %}

{% endblock %}

</body>